.body {
    margin: 20px;
}


.content {
    border: 2px solid gray ;
    width: 150px;
    padding: 5px;
    background: rgb(233, 231, 231);
    margin: 10px;
    
}
.info {
    
}
.infobox {
    border: gray 2px solid;
    background: #f8f9fa;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
    clear: right;
    width: 300px;
    padding:10px;
}
.infobox > h3 {
    background-color: lightskyblue;
    text-align: center;
    margin: 1px;
}
.infobox2 {
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    margin-bottom: 5px;
    margin-left: 2px;
    padding: 2px;
    float: right;
    width: 300px;
    vertical-align: middle;
    text-align: left;
    line-height: 1.5em;
    border-collapse: separate;
    border-spacing: 2px;
}
.infobox-above {
    text-align: center;
    background-color: lightskyblue;
}
.also {
    display: block;
}